body{
    margin: 0;
}

.animation{
    display: flex;
    height: 100%;
    background-color: cornflowerblue;
}

.animation div{
    width: 10%;
    height: 100%;
    animation-name: colorfade;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: purple;
}

.animation div:nth-child(1n) {
    animation-delay: 2s;
}

.animation div:nth-child(2n) {
    animation-delay: 3s;
}

.animation div:nth-child(3n) {
    animation-delay: 4s;
}

.animation div:nth-child(4n) {
    animation-delay: 5s;
}

.animation div:nth-child(5n) {
    animation-delay: 6s;
}

.animation div:nth-child(6n) {
    animation-delay: 2s;
}

.animation div:nth-child(7n) {
    animation-delay: 3s;
}

.animation div:nth-child(8n) {
    animation-delay: 4s;
}

.animation div:nth-child(9n) {
    animation-delay: 5s;
}

.animation div:nth-child(10n) {
    animation-delay: 6s;
}

@keyframes colorfade {
    0% {
        background-color: palevioletred;
        filter: blur(100px);
    }
    16%{
        background-color: plum;
    }
    22%{
        background-color: mediumvioletred;
        filter: blur(20px);
    }
    56%{
        background-color: fuchsia;
    }
    75%{
        background-color: indianred;
        filter: blur(60px);
    }
    100% {
        background-color: crimson;
        filter: blur(100px);
    }
}
